streamlit==0.72.0
newspaper3k==0.2.8
nltk==3.5
numpy==1.18.0
pandas==1.0.5
scikit-learn==0.21.3
gensim==3.8.3
rouge==1.0.0
spacy==2.3.5
neattext==0.0.9
collections==
textblob==0.15.3
seaborn==0.8.1
wordcloud==1.8.1
matplotlib==2.1.2
docx2txt==0.8
pdfplumber==0.5.25
PyPDF2==1.26.0


